<nav class="bg-base-200 shadow-lg p-2 flex justify-around items-center sticky bottom-0 z-10">
    <button class="btn btn-outline btn-sm flex flex-col items-center" hx-get="pages/home.html" hx-target="#content-area" hx-swap="innerHTML">
        <span>Home</span>
    </button>
    <button class="btn btn-outline btn-sm flex flex-col items-center" hx-get="pages/tips.html" hx-target="#content-area" hx-swap="innerHTML">
        <span>Tips</span>
    </button>
    <button class="btn btn-outline btn-sm flex flex-col items-center" hx-get="pages/sync.html" hx-target="#content-area" hx-swap="innerHTML">
        <span>Sync</span>
    </button>
    <button class="btn btn-outline btn-sm flex flex-col items-center" hx-get="pages/settings.html" hx-target="#content-area" hx-swap="innerHTML">
        <span>Stats</span>
    </button>
</nav>